body {
  margin: 0;
  background: black;
  color: #44d117;
  font-family: "Courier New", monospace;
  text-shadow: 0 0 5px #44d117;
  border: 1px solid #44d117;
}

.app {
  display: flex;
  flex-direction: column;
  height: 99.5vh;
  overflow: hidden;
}

.footer {
  display: flex;
  align-items: center;
  margin: 0px 10px 10px 12px;
}

.footer p {
  flex: 1;
  text-align: center;
  margin: 0;
}

.footer p:first-child {
  text-align: left;
}

.footer p:last-child {
  text-align: right;
}

.header {
  text-align: left;
  margin: 10px 0px 0px 12px;
}

.main {
  display: flex;
  flex: 1;
}

input {
  background: black;
  color: #44d117;
  border: none;
  outline: none;
  width: 95%;
}

.terminal {
  flex: 3;
  border: 1px solid #44d117;
  border-left: 0px;
  margin: 10px;
  position: relative;
  display: flex;
  
  overflow: hidden;
}

.terminal-center{
  width: 70vw;
  height: 80vh;
  margin: 8px;
  text-align: left;
  padding: 20px;
  border-right: 1px solid #44d117;

  
  display: flex;
  flex-direction: column;

  overflow: hidden; 
}

.terminal-center input {
  flex-shrink: 0;
}

.terminal-banner {
  letter-spacing: 1px;
  color: #0a8401;
}

.matrix-col {
  position: absolute;
  left: 0;
  top: 0;

  width: 20px;
  height: 95%;

  color: #44d117;
  font-family: monospace;
  font-size: 12px;
  line-height: 17px;

  white-space: pre;
  pointer-events: none;

  text-shadow: 0 0 5px #44d117;
  mask-image: linear-gradient(
  to bottom,
  transparent,
  black 20%,
  black 80%,
  transparent
  );
}

.sidebar-user{
  width: 30vw;
  height: 50vh;
  border-bottom: 1px solid #44d117;
}

.terminal-output {
  flex: 1;                 
  overflow-y: auto;        

  white-space: pre-wrap;
  word-break: break-word; 
  max-width: 100%;
  min-height: 0;    
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #4d4b4b;
}

::-webkit-scrollbar-thumb {
  background: #0a8401;
}

::-webkit-scrollbar-thumb:hover {
  background: #43b81c;
}